
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ff0000;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.nagios-status-ok {
	color: rgba(127, 255, 127, 0.4);
}

.nagios-status-critical {
	color: #ff0000;
}

.nagios-status-unknown {
	color: #7f7fff;
}

.nagios-status-warning {
	color: #ff7f00;
}

.nagios-status-failed {
	color: #ff00ff;
}

