
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ff0000;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.nagios-status-ok {
	color: rgba(127, 255, 127, 0.4);
}

.nagios-status-error {
	color: #ff0000;
}

.nagios-status-warn {
	color: #ff7700;
}


